// Fontes
$fontPrincipal : Roboto, sans-serif;

// Esquema de cores
$corDeFundo: #f5f6fa;
$corDoButton:#44bd32;
$corDoHover: #4cd137;
$corDoHeader: #182C61;



// Breakpoints
$mobile: 767px;
$tablet: 1023px;